image: Ubuntu1804 # образ для сборки

stack: node 14.17.0 # окружение

branches:
  only:
    - main # ветка git

cache: node_modules # кеширование

install:
  - yarn install # команда установки зависимостей
  - yarn run build # команда сборки


build: off # отключаем встроенную в appveyor систему сборки
test: off

# build_script:
#   - git config --global user.email "mika_g@internet.ru"
#   - git config --global user.name "GegamGrigoryan"
#   - git checkout -b deploy
#   - git add -A
#   - git commit --allow-empty -m "."
#   - git -c http.extraheader="AUTHORIZATION: bearer SHA256:4IG1PS0HR3WBns2PAAS9qxMnFW8LnG/TYA/7pGKE6CI"
#   - git push -u origin deploy


test_script:
  - npm run lint && npm test # скрипт тестирования
